@page "/"
@layout LandingPageLayout

<PageTitle>AI Wonder Recipe</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center">
            <div class="col text-end me-3 mt-3">
                <a href="https://www.wonderwebdev.com" title="SJ's Portfolio" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="/images/AiChefLogoLight.png" height="300" />
            </div>
            <div class="text-center mt-5">
                <a href="/createmeal" class="btn btn-success btn-lg">GET STARTED</a>
            </div>
        </main>
        <footer class="text-center p-3">
            &copy;2023 SJ Wonder

        </footer>
    </div>
</div>