
<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="text-center">
        <img src="/images/AiChefLogoDark.png" width="346" height="498"/>
    </div>
    <div class="loader">Loading . . .</div>
</div>

@code {

}
